.feedback {
    padding: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(103.15deg, #edeffa -1.78%, #9ccef5 103.7%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    .logo {
        img {
            margin-right: 20px;
            margin-top: 10px;
        }
    }
    .content {
        .info {
            display: flex;
            align-items: center;
            h1 {
                margin: 0;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.025em;
                color: #000000;
            }
            p {
                padding-left: 40px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 21px;
                letter-spacing: 0.025em;
                color: #796B6B;
            }
        }
        .stars {
            img {
                padding: 3px;
            }
        }
        .text {
            p {
                margin: 0;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 163%;
                letter-spacing: 0.025em;
                color: #000000;
            }
        }
    }
}

@media (max-width: 760px) {
    .feedback {
        padding: 25px;
        .content {
            h1 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
            .text {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 540px) {
    .feedback {
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 10px;
        width: 340px;
        margin: 0 auto;
        .logo {
            display: none;
        }
        .content {
            .info {
                h1 {
                    font-size: 14px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
}