.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title_text {
        margin-bottom: 50px;
        .headline {
            margin: 0;
            font-family: 'Pelinka';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 41px;
            letter-spacing: 0.025em;
            color: #FFFFFF;
        }
        .headline::after {
            content: "";
            display: block;
            width: 30%;
            margin: 0 auto;
            text-align: center;
            padding-top: 10px;
            border-bottom: 2px solid #fff;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 120px;
        .text {
            background: #393737;
            border-radius: 48px;
            padding: 50px 70px;
            .info {
                font-family: 'Gilroy-Extrabold';
                font-weight: 600;
                font-size: 24px;
                line-height: 144.5%;
                letter-spacing: 0.025em;
                color: #FFFFFF;
            }
            ul li {
                color: #fff;
            }
            span {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 144.5%;
                letter-spacing: 0.025em;
                color: #FFFFFF;
            }
            h3 {
                font-family: 'Gilroy';
                font-weight: 600;
                font-size: 20px;
                line-height: 154.5%;
                letter-spacing: 0.025em;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 1300px) {
    .work {
        .content {
            grid-gap: 50px;
            padding: 20px;
            .text {
                padding: 25px 35px;
                .info {
                    font-size: 16px;
                }
                span {
                    font-size: 14px;
                }
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .work {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .text {
                width: 100%;
                padding: 50px 70px;
                .info {
                    font-size: 24px;
                }
                span {
                    font-size: 18px;
                }
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .work {
        .title_text {
            .headline {
                text-align: center;
            }
        }
        .content {
            width: 100%;
            .text {
                padding: 25px 35px;
                .info {
                    font-size: 16px;
                }
                span {
                    font-size: 14px;
                }
                h3 {
                    font-size: 14px;
                }
            }
        }
    }
}